.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  color: #ffffff;
  background: #000000;
  user-select: none;
}

.root > section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #313131;
  cursor: pointer;
}

.root ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.item-one {
}


[class$="in"].item-one {
  opacity: 1;
  transition: opacity 1s;
}

[class$="out"].item-one {
  opacity: 0;
  transition: opacity 1s;
}


.item-two {
  opacity: 1;
}

[class$="out"].item-two {
  opacity: 0;
  transition: opacity 0.5s;
}

[class$="in"].item-two {
  opacity: 1;
  transition: opacity 0.5s;
}

.item-three {
  opacity: 1;
  height: 40px;
}

[class$="out"].item-three {
  opacity: 0;
  height: 0;
  transition: all 0.5s;
  transition-property: opacity, height;
}

[class$="in"].item-three {
  opacity: 1;
  height: 40px;
  transition: all 0.5s;
  transition-property: opacity, height;
}
